.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #e0f7e0 20%, #a0d6a0 80%, #70b070); 
  color: #333333;
}

.login-content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 30%;
}

.login-title {
  color: #333333 !important; 
  margin-bottom: 20px;
}

.ant-input, .ant-input-password {
  background-color: #ffffff; 
  border-radius: 10px;
}

.login-button {
  background-color: #70b070; 
  border-color: #70b070;
  color: #ffffff;
  border-radius: 20px;
  width: 100%;
}

.login-button:hover {
  background-color: #a0d6a0 !important; 
  border-color: #a0d6a0 !important;
}